@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
.azeret-mono-normal {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style: normal;
  }

  /* Hero BG image */
  .background-image{
    background-image: url('../assets/Hero-bg.png');
    width: 1440px;
    height: 652px;
    display: flex;
    justify-content: center;
    align-items: center;
   
   
  }

  .banner-content{
    width: 998;
  

    text-align: center;
   
   
  }

/* shared style */

.text-primary{
    color: #0D1321;
}

.section-title{
    font-size: 32px;
    font-weight: bold;
    color: #0D1321;

}

.section-description{
    font-size: 16px;
    font-weight: 400px;
    color: #0D1321;
}
h2{
    font-size: 22px;
    color: #0D1321;
}

.text-center{
    text-align: center;
}
/* Nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 25px 150px;
}

.nav-title{
    font-weight: 800;
    font-size: 28px;
}

nav ul li{
    list-style: none;
}

.btn-primary{
    font-weight: 600;
    color: #0D1321;
    padding: 17px 24px;
    border-radius: 8px;
    background-color: white;
    border-width: 1px;
    
}

.btn-primary-contactMe{
    font-weight: 600;
    color: white;
    padding: 17px 24px;
    border-radius: 8px;
    background-color: #0D1321;
    border-width: 1px;
    
}

h1{
    font-size: 30px;
    font-weight: 600;
}

.btn-primary-contactMe{
    margin-top: 70px;
}

/* main style */
main{
    max-width: 1140px;
    margin: 0 auto;
}

.why-development{
    border-radius: 16px;
    padding: 80px 95px;
    text-align: center;
    margin-top: 50px;
    background-color: #f8f8f8;
}

.development-itmes{
    display: flex;
    justify-content: space-around;
}

.development-item{
    text-align: left;
    margin-top: 35px;
}
.layout1{
    margin-top: 35px;
}

.first-button{
    padding: 5px 20px;
}

/* second development itmes */
.development-itmes2{
    display: flex;
    justify-content: space-around;
}

.development-item1{
    align-items: left;
    margin-top: 35px;
}



.item-left{
    margin-top: 35px;
    text-align: left;
    margin-right: 150px;
    
}

/* third development itmes */

.development-itmes3{
    display: flex;
    justify-content: space-around;
    margin-top: 35px;
    
}


.item-last{
    margin-top: 35px;
    text-align: left;
    margin-right: 150px;
    
}


/* My Inspiration */

iframe{
   border-radius: 15px;
   margin-top: 40px;
   
   padding: 5px;
   
}

/* My Current target */
.my-current-target{
    margin-top: 100px;
}

.skills-container{
    display: flex;
    justify-content: space-around;
    gap: 30px;
    margin-top: 30px;
    
}

.skill{
    padding: 30px;
}

.skill-1{
    background-color: #fcecec;
    border-radius: 15px;
}

.skill-2{
    background-color: #EBEBEB;
    border-radius: 15px;

}

.skill-3{
    background-color: #f6f7c0;
    border-radius: 15px;

}
h4{
    font-size: 23px;
}

a{
    color: black;
}





